body{width:1440px;
height:900px}
    
header{width:1440px;
     height:100px;
    background-color:#ff0000}

nav{width:1440px;
         height:50px;
          background-color:blue;}

  main{width:1440px;
              height:600px;
            background-color:green;}
    
 footer{width:1440px;
                 height:150px;
                  background-color:yellow;}
            
